header {

  /* Propios */

  background: rgb(255, 87, 81,0.4);
  position: fixed;
  width: 100vw;
  z-index: 10;
}


.nav_container{
    /* display flex */
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  
    /* display direction */
    /* -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; */
    
    /* flex wrap */
    /* -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; */
    
    /* justify-content */
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    
    /* align-content */
    /* -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch; */
    
    /* align-items */
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    
    /* Propios */
    width: 100%;
}


ul {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.logo a:hover {
  text-decoration: none;
}
.menu li {
  font-size: 20px;
  padding: 15px 5px;
  white-space: nowrap;
  line-height: 1.2;
}
.logo a,
.toggle a {
  font-size: 20px;
}
.button.secondary {
  border-bottom: 1px #444 solid;
}



















/* Cuenta Regresiva */


/* .container_cuentas{
  order: 3;
}

.container_headnav{
  width: 55px;
  height: 55px;
}

ul{
  padding-inline-start: 0px;
}

#cuenta{
  display: flex;
  justify-content: center;
}
.simply-section{
  font-weight: bold;
  display:flex;
  align-items: center;
  justify-content: center;
}
.simply-amount{
  background-color: white;
  color:#ff0008;
  width: 48px;
  height: 48px;
  display: block;
  margin-right: 11px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
}
.simply-word{
  color:#ffffff;
  font-weight: bold;
  display: block;
  font-size: 12px;
  margin-left: 12px;
}

.container_ncuenta{
  display: flex;
  flex-direction: column;
}
.ntexto{
  margin-bottom: 8.7px;
  font-size: 14px;
  color:#ffffff;
}

.container_ncuenta1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position:fixed;
  background-color: rgba(0,0,0,0.6) ;
  width: 100%;

  
}

.container_center{
  display: flex;
  flex-direction: column;
}
.ntexto1{
  font-size: 14px;
  color:#ffffff;
  
}


#cuenta1{
  display: flex; 
  justify-content: center;
}









@media(max-width:768px) {
  #cuenta, .ntexto{
    display: none
  }
}














@media(min-width:768px) {
  #cuenta1, .ntexto1, .container_ncuenta1{
    display: none
  }
} */
/* Cuenta Regresiva */


.simply-section div .simply-amount:after{
  content: ":";
  color: white ;
  position: relative;
  top: 1px;
  right:-17px;
  font-size: 14px;
}

.simply-seconds-section div .simply-amount:after{
  content:none;
}























/* Mobile menu */
.bars_icon{
display:flex ;
justify-content: center;
position:absolute;
left:19px;
}


.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  
}
.toggle {
  order: 1;
}
.item.button {
  order: 2;
}
.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
.item.active {
  display: block;
}

.nav_logo_container{
  padding-top: 15.9px;
}

























/* Tablet menu */

@media all and (min-width: 600px) {
  .menu {
    justify-content: space-around;
    
  }
  .bars_icon{
    display:none
  }
  
  .logo {
    flex: 0;
  }
  #sidebar{
    display:none;
  }
  .toggle {
    flex: 1;
    text-align: right;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .toggle {
    order: 2;
  }
  .button.secondary {
    border: 0;
  }
  .button a {
    padding: 7.5px 15px;
    background: teal;
    border: 1px #006d6d solid;
  }
  .button.secondary a {
    background: transparent;
  }
  .button a:hover {
    text-decoration: none;
  }
  .button:not(.secondary) a:hover {
    background: #006d6d;
    border-color: #005959;
  }
  .button.secondary a:hover {
    color: #ddd;
  }
}





















/* Desktop menu */
@media all and (min-width: 900px) {
  .menu{
    max-width: 1028px;
  }
  .item {
    display: block;
    width: auto;
  }
  .toggle {
    display: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
  }
  .button {
    order: 2;
  }
  .menu li {
    padding: 15px 10px;
  }
  .menu li.button {
    padding-right: 0;
  }


  
}
