.nav-sidebar{
  position: fixed;
  z-index: -1;
  top:0px;
}
.menu_side_background{
  background-color: rgba(0,0,0,0.4);
  width: 100vw;
  height: 100vh;
  display:none;
  
}

.menu_side_background_active{
  display:block;
}


.menu_side{
  /* display flex */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* display direction */
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  /* flex wrap */
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* justify-content */
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  /* align-content */
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  /* align-items */
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  /* Propios */
  position: fixed;
  width: 70vw;
  height: 100vh;
  background-color: white;
  top:0;
  left: -70vw;
  transition: 0.2s;
}


.sidebar_item{
  color:#010126;
  padding-left:23px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-weight: bold;
  font-size: 16px;
  padding: 12px;
}

.sidebar_item:active{
  color: red;
  border-left: 2px solid red;
}

.sidebar_header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sidebar_img{
  max-width: 120px;
  max-height: 24.7px;
  margin-left: 23.9px;
  margin-top: 8px;
}
.icon_arrow{
  padding: 12px;
  font-size: 22px;
}
.arrow{
  max-width: 26px;
  max-width: 20.7px;
}
.menu_side_active{
 display: block;
 width: 70vw;
 transform:translate(35vw);
 z-index: 999;
}
.menu_side_inactive{
  display: block;
  transform:translate(-70vw);
}
/* Destok-Table */

@media (min-width:986px){
  .nav-sidebar{
    display: none;
  }
}