*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Avenir next";

}

body {
  margin: 0;

}

/*********************************************************** Seccion Ofertas*/
.offers {
  background-color: #FF5751;
  background-image: linear-gradient(60deg, #FF5751, #FFC837);
  background-repeat: no-repeat;
} 

/*********************************************************** Contenedores Principales */
.container_row {
  /* display flex */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* display direction */
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  /* flex wrap */
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* justify-content */
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* align-content */
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  /* align-items */
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/********************************* Contenido de Ofertas*/
.container_offer {
  /* display flex */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* display direction */
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  /* flex wrap */
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* justify-content */
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* align-content */
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  /* align-items */
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 630px;
  position: relative;
}

.offer_footer > div > img{
  max-width: 227.4px;
  max-height: 227.4px;
}

/*********************************Conatiner Juego*/

.container_game{

}









/*********************************************************** Desktop-Table*/
@media (min-width:769px) {
  body {
    max-width: 100%;
  }

  .container_main {
    max-width: 1028px;
    margin: 0 auto;
    border: blueviolet 2px solid;
  }

  /********************************* Conatiner Oferta*/

  .container_row{
    min-height: 630.2px;
    height: 630px;
    border: chartreuse 2px solid;
    position: relative;
  }

  .offer_head {
    border: red 2px solid;
  }

  .offer_head>img {
    width: 287.4px;
    height: 280px;
  }

  .offer_footer {
    /* display flex */
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* display direction */
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    /* flex wrap */
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* justify-content */
    -webkit-justify-content: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    /* align-content */
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    /* align-items */
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    /*Propios*/
    border: red 2px solid;
    top: 500px;
    right: 0px;
    position:absolute;
    width: 100%;
  }
  
  /********************************* Conatiner Oferta*/





}







/*********************************************************** Mobile */
@media(max-width:768px) {
  body {
    max-width: 100%;
  }
  /* Ofertas */
  .container_main {
    max-width: 300px;
    margin: 0 auto;
  }
  .container_offer{
    min-height: 1554px;
    border: chartreuse 2px solid;
  }
  .offer_head{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 87px;
    margin-bottom: 20px;
  }
  .offer_head>img {
    width: 241.9px;
    height: 250.6px;
  }
  .offer_footer {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 44.6px ;
  }
}