:root{
  --main-color-blue:#154f80;
  --main-color-white:#EDECE9;
  --main-color-black:#2A2f33;
  --main-color-yellow:#FFC837;
  --main-color-orange:#FF5751;
  --main-color-orange-shadow:rgb(221, 73, 68);

}
*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Avenir next";

}
body{
  margin: 0;
}
/* Ofertas */
.offers {
  background-color: var(--main-color-orange); /* Si el navegador no soporta gradient mostrara este color */
  background-image: linear-gradient(60deg, var(--main-color-orange) ,var(--main-color-yellow));
  background-repeat: no-repeat;
  
}
.container_offer {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;

  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;

  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;

  border:2px solid red;
  height: 1000px;

}

.offer_head,
  .offer_footer {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  border: blue 2px solid;
}

.offer_head > img{
  height: 200px;
  width: 200px;
}

.offer_footer > div > img{
  max-width: 227.4px;
  max-height: 227.4px;
}
/* Ofertas */
  
/*Gana Jugando*/
.game{
  background-color: white;
}
.container_game{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 80px;
}
.game_info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 298px;
}
.title{
  color: var(--main-color-orange);
}
.title > strong{
  font-weight: bold ;
}
.text{
  color: var(--main-color-blue);
}
.game_action{
  width: 400px;
  height: 400px;
} 
.game_action img{
  width: 396px;
  height: 396px;
}
.form{
  padding-top: 16px;
  max-width:260px ;
  color: var(--main-color-blue);

}
input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: var(--main-color-orange);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 200px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: var(--main-color-orange-shadow);
}
/*Gana Jugando*/

/*Tiendas*/
.shops{
  background: var(--main-color-yellow) ;
}
.container_shop {
  display: flex;
  justify-content: center;
  
}
.shop_head, .shop_footer{
  display: flex;
  flex-direction: row;
}

.shop > img{
  border-bottom: 3px solid var(--main-color-orange);
}
/*Tiendas*/
/* Footer */
footer{
  background-color: #2a2f33;
  height: 261.5px;
}
/* Footer */



